#toplevel_page_traveler-paymob img {
    border-radius: 5px;
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-top: 5px;
    opacity: 1 !important;
    padding: 0 !important;
}

img[alt="Traveler Paymob"]:not(#toplevel_page_traveler-paymob img) {
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}

#traveler-paymob-notice {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff3cd;
    border-left: 4px solid #efe309;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
}

#paymob_secret_key {
    display: flex;
    align-items: center;
    gap: 2px;
}

#paymob_secret_key > #toggleSecretKey {
    background-color: #e2b42b;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    user-select: none;
    margin-top: -5px;
}